<!DOCTYPE html>
<html>
  <head>
    <title>Tutonic oDesk Test App</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to ( image_tag ("http://staging.tutonic.com/assets/profile/profile_logo-71da2f286e21f9a207bfa62b9a899329.png")), root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "About",        about_path %></li>
              <li><%= link_to "The Process",  "#" %></li>
              <li><%= link_to "Login",        "#" %></li>
              <li>
              <div>
              <%= link_to signup_path, class: "btn btn-info" do %>
                  <i class="icon-pencil" style="font-size:24px;"></i> Sign Up
              <% end %>
            </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container" id="main">
      <%= yield %>
    </div>
    <%= render partial: "partials/footer" %>
  </body>
</html>
